body{
    background-image: url(yes.jpg);
    width: 10rem;
    height: 50rem;
    border: 4px;
    border: 3px solid yellow;
    width: 170px;
    height: 250px;
}
#label{
    color: yellow
}
div{
    color: burlywood
}
.Whatsapp_float{
    background-image: url(FB.png);
}


