div{
    /*border:15px solid black;*/
    border-radius: 20%;
    height:10px;
    width: 10px;
    margin: 0 auto;
    font-family:sans-serif;
    font-size: 10px;
    color: tomato;
    border-color:aquamarine

.img{
    border-radius: 50%;
    border: 3px solid black;
}

* {box-sizing: border-box}

/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ff1f1f;
}

button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:20%;
}
table{
    border: 1px solid;
    width: 50%;
}
h1{
    font-size: 4rem;
    margin:0 auto;
    color: gold;
}
    
body{
    background-image:url(yes.jpg);

}
p{
    color:white;
}

h3{
    color:aqua;
}
li{
    color:darkgoldenrod;
}
h5{
    color:burlywood;
}
h6{
    color:goldenrod;
}
#click{
    color:greenyellow
}

 .asap{
    width:10px;
     height:10px;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color:white;
    border-radius: 50%;
}
